div{
    /* background-color: rgb(29, 110, 110); */
    height: 100vh;
    width: 70%;
    border: solid 2px green;
    border-radius: 20px;
}
img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}
h1{
    background-color: brown;
}