body{
    /* background-color: aquamarine; */
    font-family: 'Montserrat', sans-serif;

}
#main{
    /* color: blue; */

}
#mainpart1{
background-color: #FFFFFF;
margin: 20px;
color: blue;
height: 40vh;
font-size: xx-large;
padding-left: 55px;
}
#mainpart1>p{
    font-size: 1em;
    color: rgb(74,190,189);
}
#mainpart1>h1{
    color:rgb(54, 178, 168);
}
#mainpart1>h4{
    color: yellowgreen;
}
#mainpart2{
     display: flex;
     height: 60vh;
     font-size: x-large;   
}
#sub{
    background-color: rgb(54, 178, 168);
    width: 50%;
    padding-left: 75px;
    color: white;
}
#price{
    font-size: 1.5em;

}
#price>span:last-child{
    font-size: 0.5em;
}

#sub>button{
    background-color: rgb(215, 215, 37);
    margin-left: 120px;
    border-radius: 8px;
    padding: 12px 90px;
    font-size: x-large;
    color: white;
    border-color: rgb(215, 215, 37);
    margin: 40px;
}
#why{
    background-color: rgb(74,190,189);
    width: 50%;
    color: white;
}
#why>h3{
    padding-left: 40px;

}
#why>ul>li{
    list-style-type: none;
    margin-right: 80px;
}
