body{
    background-color: blanchedalmond;
    text-align: center;
}
form{
text-align: center;
    background-color: grey;
    height: 50vh;
    width: 30%;
    display: inline-block;
    border-radius: 10px;

}